<footer>
	<nav class = "round">
<ul>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><%= link_to "News", 'http://www.prss.in' %></li>
	<li><%= link_to "Rails Training", 'http://www.prss.in' %></li>
</ul>
	</nav>
</footer>